body{
	background-color:#000;
}
div#wrapper p {
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:20px;
}

div#wrapper input
{
	width:50px;
	height:50px;
	border:1px solid #dedede;
	margin:1px;
	color:#666;
}

div#wrapper input:hover
{
	cursor:pointer;
	border:2px solid gray;
}

div#wrapper
{
	color:#FFF;
	position: relative;
	top: 100px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	background: blue;
}

div#wrapper a
{
	text-decoration:none;
	font-family: Arial, helvetica, sans-serif;
	color:#FFF;
	text-indent:57px;
	float:left;
	margin-top:10px;
	font-size:14px;
}

div#wrapper a:hover
{
	text-decoration:underline;
}

.token{
	border-radius:25px;
	background:#fff;
}
.tokenX{
	border-radius:25px;
	background: yellow;
}
.tokenO{
	border-radius:25px;
	background: red;
}